.container {
    width: 700px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #ccc;
}
.header{
    text-align: center;
    font-size: 1.2rem;
}
.content{
    font-size: 1.5em;
}
.title{
    text-align: center;
    padding: 4px 0;
    font-family: "Play", sans-serif;
}

.section .title{
    color: #efefef;
}
.section-orange .title{
    color: rgb(230, 88, 1);
    border-top: 1px solid rgb(248, 184, 124);
    border-bottom: 1px solid rgb(248, 184, 124);
    background-color: rgba(251, 225, 199, 0.13);
}
.section-blue .title{
    color: #00f;
    border-top: 1px solid rgb(124, 174, 248);
    border-bottom: 1px solid rgb(124, 174, 248);
    background-color: rgba(159, 196, 251, 0.2);
}
.section-green .title{
    color: green;
    border-top: 1px solid rgb(129, 230, 151);
    border-bottom: 1px solid rgb(129, 230, 151);
    background-color: rgba(198, 251, 210, 0.29);
}
.section .title{
    //background-color: rgba(239, 239, 239, 0.2);
    /*border-top: 1px solid #ededed;*/
    /*border-bottom: 1px solid #ededed;*/
}

.section{
    font-family: Arial, sans-serif;
}
.section .body{
    padding: 1em;
}
.section .preference:not(:first-child){
    margin-top: 1em;
}
#auto-hide-notific-input{
    width: 40px;
    margin: 0 5px;
}
